main {
    background-color: rgb(165, 190, 231);
}

.container_aside {
    background-color: rgb(99, 141, 209);
}

.container_seccion {
    padding-bottom: 10px;
}

.tarjeta {
    box-shadow: 0px 0px 5px black;
}

.imagen_persona {
    max-width: 150px;
    height: 150px;
    background-color: rgb(95, 96, 99);
    margin-top: 50px;
}